.signup-main {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    gap: 30px;
    
}

.signup-email {

    background-color: rgb(223, 223, 223);
    display: flex;

    -webkit-box-shadow: 0px 0px 15px 5px rgba(36, 36, 36, 0.83);
    box-shadow: 0px 0px 15px 5px rgba(36, 36, 36, 0.83);


    width: 100%;
    max-width: 40%;
    flex-direction: column;
    align-items: center;
    color: black;
    padding-top: 35px;
    padding-bottom: 25px;
    gap: 30px;
}

.email-input {
    border-radius: 5px;
    border: 3px solid purple;
    padding: 20px;



    background-color: rgb(212, 212, 212);
    
    width: 100%;
    max-width: 45%;
}

.signup-username{
    display: flex;
    

}